Source: blktap
Section: libs
Priority: optional
Maintainer: Thomas Goirand <zigo@debian.org>
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 7.0.50~), autotools-dev, uuid-dev, libaio-dev
#Homepage: http://www.gplhost.com/software-sbox.html
#Vcs-Git: git://git.debian.org/collab-maint/blktap.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/blktap.git;a=summary

Package: libvhd1.0
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Xen API blktap shared library
 libvhd1

Package: blktap-dev
Section: devel
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, libvhd1.0 (= ${binary:Version}), libvhdio1.0 (= ${binary:Version})
Description: Xen API blktap shared library (development files)
 blktap-dev

Package: blktap-utils
Section: utils
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, libvhd1.0 (= ${binary:Version}), libvhdio1.0 (= ${binary:Version})
Description: Xen API blktap shared library (binary utils)
 blktap-utils

Package: libvhdio1.0
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Xen API blktap shared library (shared library)
 libvhdio1

Package: libblktapctl1.0
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Xen API blktap shared library (shared library)
 libblktapctl1
