Source: blktap
Section: libs
Priority: extra
Maintainer: Thomas Goirand <zigo@debian.org>
Build-Depends: debhelper (>= 8), uuid-dev, libaio-dev, dh-autoreconf
Standards-Version: 3.9.2
Vcs-Browser: http://git.gplhost.com/gitweb/?p=sbox.git
Vcs-Git: http://git.gplhost.com/sbox.git
Homepage: http://www.gplhost.com/software-sbox.html

Package: libvhd2.0.90
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Xen API blktap shared library
 libvhd1

Package: blktap-dev
Section: devel
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, libvhd2.0.90 (= ${binary:Version}), libvhdio2.0.90 (= ${binary:Version})
Description: Xen API blktap shared library (development files)
 blktap-dev

Package: blktap-utils
Section: utils
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, libvhd2.0.90 (= ${binary:Version}), libvhdio2.0.90 (= ${binary:Version})
Description: Xen API blktap shared library (binary utils)
 blktap-utils

Package: libvhdio2.0.90
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Xen API blktap shared library (shared library)
 libvhdio1

Package: libblktapctl2.0.90
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Xen API blktap shared library (shared library)
 libblktapctl1

