#!/usr/bin/make -f

build: build-arch build-indep
build-arch: build
build-indep: build
build-stamp:
	$(MAKE) USE_SYSTEM_LIBRARIES=y DESTDIR=$(CURDIR)/debian/libvhd1.0
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	$(MAKE) clean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	$(MAKE) install USE_SYSTEM_LIBRARIES=y DESTDIR=$(CURDIR)/debian/libvhd1.0/

	# Move stuff in libvhdio
	mkdir -p $(CURDIR)/debian/libvhdio1.0/usr/lib
	mv $(CURDIR)/debian/libvhd1.0/usr/lib/libvhdio.so.1.0 $(CURDIR)/debian/libvhdio1.0/usr/lib
	mv $(CURDIR)/debian/libvhd1.0/usr/lib/libvhdio.so.1.0.0 $(CURDIR)/debian/libvhdio1.0/usr/lib

	# Move stuff in the -dev packages
	mkdir -p $(CURDIR)/debian/blktap-dev/usr/lib
	mv $(CURDIR)/debian/libvhd1.0/lib/libblktapctl.a $(CURDIR)/debian/blktap-dev/usr/lib
	mv $(CURDIR)/debian/libvhd1.0/usr/lib/libvhd.a $(CURDIR)/debian/blktap-dev/usr/lib
	mv $(CURDIR)/debian/libvhd1.0/usr/lib/libvhd.so $(CURDIR)/debian/blktap-dev/usr/lib
	mv $(CURDIR)/debian/libvhd1.0/usr/lib/libvhdio.a $(CURDIR)/debian/blktap-dev/usr/lib
	mv $(CURDIR)/debian/libvhd1.0/usr/lib/libvhdio.so $(CURDIR)/debian/blktap-dev/usr/lib
	mv $(CURDIR)/debian/libvhd1.0/usr/include $(CURDIR)/debian/blktap-dev/usr

	# Move things in the blktap-utils package
	mkdir -p $(CURDIR)/debian/blktap-utils/usr
	mv $(CURDIR)/debian/libvhd1.0/usr/sbin $(CURDIR)/debian/blktap-utils/usr
	mv $(CURDIR)/debian/libvhd1.0/etc $(CURDIR)/debian/blktap-utils

	# Move things in the libblktapctl1.0 package
	mkdir -p $(CURDIR)/debian/libblktapctl1.0/usr
	mv $(CURDIR)/debian/libvhd1.0/lib $(CURDIR)/debian/libblktapctl1.0/usr


binary-indep: build install
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
