#!/usr/bin/make -f

build: 
	dh_autoreconf
	dh_auto_configure
	$(MAKE) USE_SYSTEM_LIBRARIES=y DESTDIR=$(CURDIR)/debian/libvhd2.0.90
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	dh_autoreconf
	dh_auto_configure
	$(MAKE) clean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	$(MAKE) install USE_SYSTEM_LIBRARIES=y DESTDIR=$(CURDIR)/debian/libvhd2.0.90/

	# Move stuff in libvhdio
	mkdir -p $(CURDIR)/debian/libvhdio2.0.90/usr/lib
	mv $(CURDIR)/debian/libvhd2.0.90/usr/lib/libvhdio-2.0.90.so $(CURDIR)/debian/libvhdio2.0.90/usr/lib

	# Move stuff in the -dev packages
	mkdir -p $(CURDIR)/debian/blktap-dev/usr/lib
	mv $(CURDIR)/debian/libvhd2.0.90/usr/lib/libblktapctl.a $(CURDIR)/debian/blktap-dev/usr/lib
	mv $(CURDIR)/debian/libvhd2.0.90/usr/lib/libvhd.a $(CURDIR)/debian/blktap-dev/usr/lib
	mv $(CURDIR)/debian/libvhd2.0.90/usr/lib/libvhd.so $(CURDIR)/debian/blktap-dev/usr/lib
#	mv $(CURDIR)/debian/libvhd2.0.90/usr/lib/libvhdio.a $(CURDIR)/debian/blktap-dev/usr/lib
	mv $(CURDIR)/debian/libvhd2.0.90/usr/lib/libvhdio.so $(CURDIR)/debian/blktap-dev/usr/lib
	mv $(CURDIR)/debian/libvhd2.0.90/usr/include $(CURDIR)/debian/blktap-dev/usr

	# Move things in the blktap-utils package
	mkdir -p $(CURDIR)/debian/blktap-utils/usr
	mv $(CURDIR)/debian/libvhd2.0.90/usr/sbin $(CURDIR)/debian/blktap-utils/usr
	mv $(CURDIR)/debian/libvhd2.0.90/etc $(CURDIR)/debian/blktap-utils

	# Move things in the libblktapctl2.0.90 package
	mkdir -p $(CURDIR)/debian/libblktapctl2.0.90/usr/lib
	mv $(CURDIR)/debian/libvhd2.0.90/usr/lib/libblktapctl-2.0.90.so $(CURDIR)/debian/libblktapctl2.0.90/usr/lib


binary-indep: build install
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
